<script src="https://kit.fontawesome.com/8770c7e363.js" crossorigin="anonymous"></script>


<div class="navbar">
    <!-- Material -->
    <nav class="nav">
        <mat-toolbar color="white">
            <div fxShow="true" fxHide.gt-sm="true">
                <button mat-icon-button>
          </button>
            </div>
            <div fxShow="true" fxHide.lt-md="true">
                <img src="../../assets/img/image1.png" alt=""width="5.5%" height="100%">
                <span>
                    <a mat-button routerLink="" style="color: black; text-decoration: none;">FEEDBACK</a>
                    <a>|</a>
                    <a mat-button routerLink="/volunteerForm" style="color: black; text-decoration: none;">VOLUNTEER FORM</a>
                    <a>|</a>
                    <a mat-button routerLink="/codeofconduct" style="color: black; text-decoration: none;">CODE OF CONDUCT</a>
                    <a>|</a>
                    <a mat-button href="#Vision" style="color: black; text-decoration: none;">VISION</a>
                    <a>|</a>
                    <a mat-button href="#Mission" style="color: black; text-decoration: none;">MISSION</a>
                    <a>|</a>
                    <a mat-button href="#About" style="color: black; text-decoration: none;">ABOUT US</a>
                </span>
                </div>

        </mat-toolbar>
    </nav>

    <nav class="navbar-light bg-light" style="background-color: rgb(169, 168, 168); opacity: 0.9;">
        <a class="navbar-brand" href="#">
            <div class="dropdown">
                &nbsp;
                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret">

                <div></div>
                <div></div>
                <div></div>

                </span></button>
                <ul class="dropdown-menu">
                    <li><a mat-button href="" style="color: black; text-decoration: none; font-size: 28px; padding: 20px">FEEDBACK</a></li>
                    <li><a mat-button href="" routerLink="/volunteerForm" style="color: black; text-decoration: none; font-size: 28px; padding: 20px">VOLUNTEER FORM</a></li>
                    <li><a mat-button href="" routerLink="/codeofconduct" style="color: black; text-decoration: none; font-size: 28px; padding: 20px">CODE OF CONDUCT</a></li>
                    <li><a mat-button href="#Vision" style="color: black; text-decoration: none; font-size: 28px; padding: 20px">VISION</a></li>
                    <li><a mat-button href="#Mission" style="color: black; text-decoration: none; font-size: 28px; padding: 20px">MISSION</a></li>
                    <li><a mat-button href="#About" style="color: black; text-decoration: none; font-size: 28px; padding: 20px">ABOUT US</a></li>
                </ul>
              </div>
        </a>
        <img src="../../assets/img/image1.png" alt=""width="9%" height="130%" style="padding-left:30px; padding-top: 4px;">

      </nav>


    <!-- Material -->
    <div class="content">
        <div class="content1">
            <h1><i style="font-size: 45px;">Good People</i></h1>
        </div>
        <div class="content2"  style="font-family:'Letter Gothic Std', sans-serif; font-weight: lighter;">
            <h1><i>are  needed  to  build  a</i></h1>
        </div>
        <div class="content3">
            <h1><i style="font-size: 40px;">Good Society</i></h1>
        </div>
    </div>


    <section class="about"  id="About">
        <h1>About us</h1>
        <p>Society building is such a system that any country or civilization takes thusands of years to make. The operation of the
            social system and the design of its work depends on what and under what circumstances that civilization was born. For
            building a good and strong society, it is necessary that its framework and functioning should be governed keeping in
            mind the interests of every class and community living in the society.
        </p>
        <p>
            We (Society in care) strongly believe that unless members of the civil society are involved proactively in the process of
            development, sustainable change will not happen. Following this model of Civic Driven Change, Smile Foundation
            sensitizes and engages civil society, making it an active partner in all its welfare initiatives.
        </p>
    </section>
</div>

<div class="home">
        <div class="meet">
            <img src="../../assets/img/vector.png" alt="" width="100%" height="auto">
        </div>
        <section class="header" id="Mission">
            <h1>Mission</h1>
        </section>
        <div class="mission">
            <img src="../../assets/img/image2.png" class="ri" align="left" width="250px" height="250px"/>
            <p> Good people are needed to build a good society. So that with the help of those good people, society can solve the mass problems of every class and make their lives happy.
            People with the same ethics, attitudes, beliefs, customs form a society. The main objective of our organization is to create a group of individuals who will help us in fulfilling different types of objectives throught our society building programs.
            The mission of the Spciety in Care is to make the lives of the people of society happy by providing guidance in social and administrative problems.</p>
        </div>
<br><br><br><br>
<section class="header" id="Vision">
    <h1>Vision</h1>
</section>
<div class="mission">
    <img src="../../assets/img/image3.png" class="ri" align="left" width="250px" height="250px"/>
    <p>The operation of the social system and the design of its work depends on what and under what circumstances that civilization was born. For
        building a good and strong society, it is necessary that its framework and functioning should be governed keeping in mind the interests of every class and community living in the society.
        Our vision is to find out the people who are energetic, talented, and want to contribute to building a better society. We will bring them under one roof and join hands to make our society more responsible, vigilant, and enthusiastic.</p>
</div>

</div>
